*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#top-header{
    background-color: rgb(46, 45, 45);
}

/* ul li i{
    padding-left: 10px;
} */

ul li span {
    /* padding-left: 20px; */
    cursor: pointer;
    color: white;
    font-weight: 500;
}

ul li span:hover{
    color: red;
}

.main-logo img{
    width: 13rem;
}

.search-cetagories{
    /* border: 2px solid white; */
    border-radius: 20px;
    margin-top: 20px;
    width: fit-content;

}

.search-cetagories form input{
    margin-left: 0px;
    height: 40px;
    border: none;
    outline: none;
    padding: 20px;
}

.search-cetagories form select{
    border-radius: 20px 0 0 20px;
    height: 40px;
    border: none;
    outline: none;
    position: relative;
    right: -4px;
    text-align: center;
    padding-right: 14px;
    padding-left: 6px;
}

.search-cetagories form button{
    height: 40px;
    width: 115px;
    border-radius: 0 20px 20px 0;
    background-color: rgb(250, 36, 36);
    color: white;
    font-size: large;
    font-weight: 800;
    border: none;
    outline: none;
    position: relative;
    left: -5px;
}

 sup{
    background-color: rgb(151, 4, 4);
    border-radius: 100%;
    padding: 7px;
    margin-left: 2px;
    font-size: small;
    font-weight: 200;
}

.Wishlist i{
    margin-left: 10px;
    
}

.header-line{
    background-color: red;
    height: 3px;
}

.navbar-nav a{
    font-size: larger;
    font-weight: 500;
    margin-right: 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-out;
}

.navbar-nav a.active{
    color: red;
    border-bottom: 3px solid red;
}


.navbar-nav a:hover{
    color: red;
    border-bottom: 3px solid red;
}

.shop-image{
    
    background-color: rgba(255, 0, 0, 0.815);
    background-size: cover;
    width: 19rem;
}
 


.shop-image img{
    position: relative;
    border: 1px solid rgb(167, 164, 164);
    z-index: -1;
    width: 25rem;
}

.shop-items .shop-body{
    position: relative;
    top: -19rem;
    color: white;
    margin-top: 50px;
    padding-left: 40px;
}

.shop-items a{
    text-decoration: none;
    color: white;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: larger;
}

.shop-items a i{
    border-radius: 100%;
    border: none;
    background-color: white;
    padding: 8px;
}

.shop-body h1{
    font-weight: 900;
    
}

/* Product Section */
.collapse ul li a{
    font-size: x-large;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 20px;
}
/* / Product Section */
/* #product-area1{
    margin-top: 70px;
} */
.product1{
    border: 1px solid rgb(197, 194, 194);
    /* padding: 16px; */
    
}
.product1 del{
    color: rgb(129, 125, 125);
    font-weight: bold;
}
.product1 h4{
    color: red;
    font-weight: bold;
}
.product1:hover{
    border: 3px solid rgb(184, 5, 5);
    transition: 0.2s ease-in;
}
.product1 img{
    width: 100%;
    /* margin-right: 22px; */
    
    
}
.add-to-cart{
    
    background-color: black;
    padding: 10px 20px;
    
}


.btn1{
    text-align: center;
    background-color: rgb(221, 11, 11);
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 60px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
}

#hot-deal {
    background: url(./hotdeal.png.png);
    height: 54vh;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hot-deal-detail{
    /* border: 1px solid black; */
    padding-left: 30%;
    align-items: center;
    margin-top: 6rem;
    
}

.hot-deal-detail ul li{
    list-style: none;
    display: inline-block;
    background-color: #D10024e6;
    width: 100px;
    height: 100px;
    color: white;
    font-weight: 700;
    padding-top: 10px;
    border-radius: 50%;
    text-align: center;
    margin: 10px 9px;
}

.text-content{
    margin-left: 7rem;
    display: inline-block;
}

.text-content1{
    margin-left: 9rem;
    font-size: large;
    display: inline;
}

.btns1{
    background-color:#D10024;
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: 800;
    padding: 17px 15px;
    margin-left: 14rem;
}

.tile h3{
    font-weight: bold;
    font-size: xx-larger;
}